<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>technical team</title>
    <style>
        body{
            background-color: rgb(128, 0, 0);
        }
        body p{
            color: white;
            text-align: justify;
            border: 3px solid black;
            font: 18px;
            margin: 40px 300px 30px 300px;
            padding: 2px 2px 2px 2px ;
        }
    </style>
</head>
<body>
    <p>Engr. Aina Adebisi E. MNSE,
MNICE, FOSHA (COREN)
Title: Director / CEO
Experience: 10 years</p>
<p>
    Engr. Ayeni Babatunde G.
MNSE, MNICE (COREN)
Title: Director, Projects
Experience: 10 years
</p>
<p>
    Oyewumi Ayodele
Title: Project Manager
(HND Architecture)
Experience: 6 years
</p>
<p>
    Adebayo Kehinde
Title: Project / Resident
Engineer (B.Eng Civil)
Experience: 9 years
</p>
<p>
    Ojo Oluwatosin R.
Title: Site Supervisor (B.Sc Ed.
Computer Science)
Experience: 6 years
</p>
<p>
    Abiodun Boluwaji Olajide
Title: Store Keeper (HND
Computer Science)
Experience: 7 years
</p>
<p>
    Ibrahim Laisi T.
Title: Builder (ND Building
Technology)
Experience: 6 years
</p>
<p>
    Adelabu M. Olaoye
    Title: Foreman
    Experience: 12 years
</p>
</body>
</html>